


section {
    padding: 7%;
}

.grey {
    background-color: #f8f8f8;
}

h1, h2 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#firstH2 {
    font-size: x-large;
}

h1, h2, p, label {
    color: #003A7E;
}

p {
    font-family: Cambria;
}

label {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.star {
    color:red;
}

input {
    margin-bottom: 5%;
}

input[type=text]:focus, input[type=email]:focus, input[type=date]:focus {
    border-color: #003A7E;
    box-shadow: 0 0 5px #003A7E;
}

input::placeholder {
    font-style: italic;
}

#button {
    background-color: #003a7e;
    border: none;
    font-family: Arial;
    font-weight: Bold;
    width: 100%;
    border-radius: 2rem;
    /* font-size: 2rem; */
    height: 200%;
}

iframe {
    width: 100%;
}

#button2 {
    background-color: #003a7e;
    border: none;
    font-family: Arial;
    font-weight: Bold;
    width: 100%;
    border-radius: 2rem;
    height: 7vh;
}


a>img {
    margin-right: 10%; 
}


    /* NAVIGATION FIXER A GAUCHE DES RESEAUX SOCIAUX */
    .nav-float {
        height: 130px;
        position: fixed;
        /* 50% je me fixe à la moitié de l'écran
        -65px Moins la moitié de ma nav donc son milieu */
        margin: -65px 20px 0 20px;
        top: 50%;
    }
    
    .nav-float img {
        display: block;
        width: 40px;
        height: 40px;
    }
    .nav-link{
        color: aliceblue;
    }
    .collapse{
        height: 20vh;
    }
    .bg-header, header{
        background-color: #003a7e;
        line-height: 2.95rem;
        height: 15vh;
    }
    .bg-footer{
        background-color: #003a7e;
    }
    .img{
        height: 10rem;
        width: 10rem;
    }
    .img-header{
        height: 26vh;
        width: 50vw;
    }
    .img-footer{
        height: 7vh;
        width: 10vw;
    }
    footer{
        width: 100vw;
        background-color: #003a7e;
    }
    footer a {
        font-size: x-large;
    }